
                                    
                                <div class="card">
                                    <div class="row" style="margin-left: 30px;margin-right: 30px;">
                                        <div class="col">
                                            <label class="col-form-label" for="cash_Amt_words"> Amount In Words
                                                :&emsp;</label>
                                            <input type="text" class="form-control" id="cash_Amt_words" value="">
                                        </div>
                                        <div class="col">
                                            <label class="col-form-label" for="cash_Amt_no"> Amount in
                                                Figures: &emsp;</label>
                                            <input type="number" class="form-control" id="cash_Amt_no" value="">
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="margin-left: 30px;margin-right: 30px;">

                                        <div class="col">
                                            <label class="col-form-label" for="cashRecievedFrom"> Recieved From
                                                &emsp;</label>
                                            <input type="text" class="form-control" id="cashRecievedFrom" value="">
                                        </div>
                                        <div class="col">
                                            <label class="col-form-label" for="Transaction_Id">Remark/Transaction Id
                                                &emsp;</label>
                                            <input type="text" class="form-control" id="Transaction_Id" value="">
                                        </div>
                                    </div>
                                    <div class="row text-center" style="margin-left: 30%; margin-right: 30%;padding-top: 10px;">
                                        <div class="col-form-label">
                                            <label for="Cashnotes"
                                                style="font-size: 24px; font-weight: bold;">Narrations
                                                &emsp;</label>
                                            <textarea id="Cashnotes" rows="5" cols="10"
                                                style="font-size: 18px; width: 500px; border: 2px solid #ccc; padding: 10px;"
                                                placeholder="Write something here..."></textarea>
                                        </div>
                                    </div>
                                </div>