
{% extends 'base.html' %}
{% load static %}
{% block content %}
 <style>
/* Loading animation styles (you can replace this with your animation) */
.loading {
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Checkmark styles */
.checkmark {
  font-size: 48px;
  color: #4CAF50; /* Green color for checkmark */
  display: none; /* Initially hide the checkmark */
}

 </style>
       
       
       <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">
          <div class="content">                
                  <!-- Top Statistics -->
<div class="container mt-5 text-center" style="max-width:1450;">
    <div class="card">
        <div class="card-header text-center">
            <span class="mdi-format-float-left"></span>
            
            <h4>Add Journal Entry
            </h4>
            <!-- Expand Left -->
        </div>
        <div class="card-body">
            <form id="myActualForm" method="Post">
                {% csrf_token %}
                <!-- Centered Fields -->
                <div class="text-center">
                    <div class="form-group text-center">
                        <div class="row" style="
                        margin-left: 255px;
                    ">
                            <label for="journal_date">Date <span class="text-danger">*&emsp;</span></label>
                            <input type="date" class="form-control col-6" id="journal_date" required>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="row" style="
                        margin-left: 155px;
                    ">
                            <label class="col-form-label" for="voucher_no">Receipt Voucher No &emsp;</label>
                            <input type="text" class="form-control col-6" id="voucher_no" readonly value="">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="row" style="
                        margin-left: 252px;
                        padding-left: 0px;
                    ">
                            <label for="notes">Notes &emsp;</label>
                            <textarea class="form-control col-6" id="notes" rows="3" placeholder="Write something here..."></textarea>
                            
                        </div>
                    </div>
            </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-bordered" id="transactionTable">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Narration</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <select class="form-control" id="dropdown1">
                                        {% for account in account_list %}
                                    <option data-value="{{ account.subcategory.category.category_name }}" data-tokens="{{ account.subcategory }}" id="{{ account.account_number.subcategory_name }}" value="{{ account.account_number }}">{{ account.account_name }}</option>
                        
                                        
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="cat1" name="cat1" disabled>
                            
                                </td>
                                <td>
                                    <input type="text" id="sub1" disabled>
                                </td>
                                <td><input type="text" class="form-control" id="nar1"></td>
                                <td><input type="number" class="form-control" step="0.01" id="deb1"></td>

                                <td><input type="number" class="form-control" step="0.01" id="cre1"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" id="dropdown2">
                                        {% for account in account_list %}
                                    <option data-value="{{ account.subcategory.category.category_name }}" data-tokens="{{ account.subcategory }}" id="{{ account.account_number.subcategory_name }}" value="{{ account.account_number }}">{{ account.account_name }}</option>
                        
                                        
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="cat2" disabled>
                            
                                </td>
                                <td>
                                    <input type="text" id="sub2" disabled>
                                </td>
                                <td><input type="text" class="form-control" id="nar2"></td>
                                <td><input type="number" class="form-control" step="0.01"id="deb2"></td>

                                <td><input type="number" class="form-control" step="0.01" id="cre2"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" id="dropdown3">
                                        {% for account in account_list %}
                                    <option data-value="{{ account.subcategory.category.category_name }}" data-tokens="{{ account.subcategory }}" id="{{ account.account_number.subcategory_name }}" value="{{ account.account_number }}">{{ account.account_name }}</option>
                        
                                        
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="cat3" disabled>
                            
                                </td>
                                <td>
                                    <input type="text" id="sub3" disabled>
                                </td>
                                <td><input type="text" class="form-control" id="nar3"></td>
                                <td><input type="number" class="form-control" step="0.01" id="deb3"></td>

                                <td><input type="number" class="form-control" step="0.01" id="cre3"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" id="dropdown4">
                                        {% for account in account_list %}
                                    <option data-value="{{ account.subcategory.category.category_name }}" data-tokens="{{ account.subcategory }}" id="{{ account.account_number.subcategory_name }}" value="{{ account.account_number }}">{{ account.account_name }}</option>
                        
                                        
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="cat4" disabled>
                            
                                </td>
                                <td>
                                    <input type="text" id="sub4" disabled>
                                </td>
                                <td><input type="text" class="form-control" id="nar4"></td>
                                <td><input type="number" class="form-control" step="0.01" id="deb4"></td>

                                <td><input type="number" class="form-control" step="0.01" id="cre4"></td>
                                <td></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <!-- Submit Button -->
    <!-- Submit Button -->
    <div class="form-group text-center my-5">
        <button type="button" class="btn btn-primary" id="submitForm">Submit</button>
        <button type="button" class="btn btn-primary" id="clearFormButton">Clear</button>
    </div>
            </form>
        </div>
    </div>
</div>

           </div>
        </div>
<!-- The modal -->

  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="subTableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subTableModalLabel">        <h2 style="margin-left: 200px;"><div id="loading-animation" class="loading"></div>
            <div id="success-checkmark" class="checkmark">&#10003;</div></h2>
          </h5> 
          <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="subTableContent">
                   
      <p>Voucher No:  <span><input type="text" id="voucherNo" ></span></p>
      <p>Voucher Code: <span><input type="text" id="voucherCode" ></span></p>
      <p>Account: <span ><input type="text" id="account" ></span></p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalq" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>  
    <script>
            // Get a reference to the date input element
            const dateInput = document.getElementById('journal_date');
    
            // Create a new Date object for today's date
            const today = new Date();
    
            // Get the year, month, and day in the format "YYYY-MM-DD"
            const year = today.getFullYear();
            const month = (today.getMonth() + 1).toString().padStart(2, '0'); // Months are 0-indexed
            const day = today.getDate().toString().padStart(2, '0');
    
            // Set the value of the date input to today's date
            dateInput.value = `${year}-${month}-${day}`;
        </script>
<script>
       document.addEventListener("DOMContentLoaded", function() {
    const numRows = 4; // Change this to the number of rows you have
    
    for (let i = 1; i <= numRows; i++) {
        const dropdown = document.getElementById(`dropdown${i}`);
        const catInput = document.getElementById(`cat${i}`);
        
        dropdown.addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            const subcategory = selectedOption.getAttribute('data-tokens');
            const category = selectedOption.getAttribute('data-value');

            console.log(`Selected Account Number for Row ${i}:`, category);
            catInput.value = category;

            // Assuming you have a hidden input field for category
            document.getElementById(`sub${i}`).value = subcategory;
        });
    }
});







</script> 
<script>
   document.addEventListener("DOMContentLoaded", function() {
    // Get references to elements

    const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value; // Get the CSRF token from the form
    const form = document.getElementById("myActualForm");
    const submitButton = document.getElementById("submitForm");
    const clearFormButton = document.getElementById("clearFormButton");
    submitButton.addEventListener("click", function() {
        // Create a FormData object
        const formData = new FormData();
        const tableRows = form.querySelectorAll("tbody tr");
        const voucher=document.getElementById("voucher_no").value;
        const notes=document.getElementById("notes").value;
        formData.append(`notes`, notes);
        formData.append(`voucher`, voucher);
        tableRows.forEach((row, index) => {
            const select = row.querySelector("select");
            

            const cat = row.querySelector(`#cat${index + 1}`);
            const sub = row.querySelector(`#sub${index + 1}`);
            const nar = row.querySelector(`#nar${index + 1}`);
            const cre = row.querySelector(`#cre${index + 1}`);
            const deb = row.querySelector(`#deb${index + 1}`);

            // Append each field to the FormData object
            formData.append(`dropdown${index + 1}`, select.value);
            


            formData.append(`cat${index + 1}`, cat.value);
            formData.append(`sub${index + 1}`, sub.value);
            formData.append(`nar${index + 1}`, nar.value);
            formData.append(`cre${index + 1}`, cre.value);
            formData.append(`deb${index + 1}`, deb.value);
        });

        // Make an AJAX POST request
        fetch("/submit_journal/", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken, // Include CSRF token
            },
            body: formData, // Use the FormData object
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the server
            updateModalData(data);
            // Hide loading animation and show checkmark
            setTimeout(function () {
                $('#loading-animation').hide();
            $('#success-checkmark').show();
    }, 1500);
           
        })
        .catch(error => {
            console.error("Error submitting the form:", error);
        });
    });
        });

clearFormButton.addEventListener("click", function() {
        // Reset the form fields to their default values
        const form = document.getElementById("myActualForm");
        const tableRows = form.querySelectorAll("tbody tr");

        tableRows.forEach((row, index) => {
            const select = row.querySelector("select");
            const cat = row.querySelector(`#cat${index + 1}`);
            const sub = row.querySelector(`#sub${index + 1}`);
            const nar = row.querySelector(`#nar${index + 1}`);
            const cre = row.querySelector(`#cre${index + 1}`);
            const deb = row.querySelector(`#deb${index + 1}`);

            // Clear the form fields
            select.value = ''; // Clear the select value
            cat.value = ''; // Clear the cat input value
            sub.value = ''; // Clear the sub input value
            nar.value = ''; // Clear the nar input value
            cre.value = ''; // Clear the cre input value
            deb.value = ''; // Clear the deb input value
        });
    });
// Update the modal content with data
function updateModalData(data) {
    const account = data.message.account;
    const voucherCode = data.message.voucherCode;
    const voucherNo = data.message.voucherNo;
    const modal = document.getElementById('myModal');
    const closeBtn = document.getElementsByClassName('close')[0];
    const closeBtn1 = document.getElementById('closeModalq');

    const voucherNoElement = document.getElementById('voucherNo');
    const voucherCodeElement = document.getElementById('voucherCode');
    const accountElement = document.getElementById('account');
    voucherNoElement.value = voucherNo;
    voucherCodeElement.value =voucherCode;
    accountElement.value = account;
    modal.style.display = 'block';  // Show the modal

  // Close the modal when the close button is clicked
closeBtn.addEventListener('click', () => {
  modal.style.display = 'none';

});

closeBtn1.addEventListener('click', () => {
  modal.style.display = 'none';
  const clearFormButton = document.getElementById("clearFormButton");

// Simulate a click event on the clearFormButton
    clearFormButton.click();
});
}
    </script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

    const voucher_numbe = document.getElementById("voucher_no");
    generateAccountNumber()
 

    function generateAccountNumber() {
    // Make an AJAX request to your Django backend to get the next available account number
    fetch("/get_next_voucher_number/") // Replace with your Django endpoint URL
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                voucher_numbe.value = data.voucher_numbe;
            }
        })
        .catch(error => {
            console.error("Error fetching account number:", error);
        });
}

    // You can also submit the form data to the Django backend using AJAX or a form submission, depending on your preference.
});
</script>
  {% endblock %}
