
{% extends 'base.html' %}
{% load static %}
{% block content %}
 


<body class="bg-light-gray" id="body">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
    <div class="d-flex flex-column justify-content-between">
      <div class="row justify-content-center mt-5">
        <div class="col-md-10">
          <div class="card card-default">
            <div class="card-header">
              <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                <a class="w-auto pl-0" href="/index.html">
                  <img src="images/logo.png" alt="Mono">
                  <span class="brand-name text-dark">MONO</span>
                </a>
              </div>
            </div>
            <div class="card-body p-7 text-center">
  
              <h4 class="text-dark mb-6 ">This Page Is Under Maintenance</h4>
              <p class="mb-7">Our website is currently under maintenance, will be right back in a few minutes</p>
              <img class="d-block m-auto" src="images/elements/maintanace.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  </body>


{% endblock %}
