
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
body{
    margin-top:20px;
    color: #484b51;
}
.text-secondary-d1 {
    color: #728299!important;
}
.page-header {
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-bottom: 1px dotted #e2e2e2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.page-title {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}
.brc-default-l1 {
    border-color: #dce9f0!important;
}

.ml-n1, .mx-n1 {
    margin-left: -.25rem!important;
}
.mr-n1, .mx-n1 {
    margin-right: -.25rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.text-grey-m2 {
    color: #888a8d!important;
}

.text-success-m2 {
    color: #86bd68!important;
}

.font-bolder, .text-600 {
    font-weight: 600!important;
}

.text-110 {
    font-size: 110%!important;
}
.text-blue {
    color: #478fcc!important;
}
.pb-25, .py-25 {
    padding-bottom: .75rem!important;
}

.pt-25, .py-25 {
    padding-top: .75rem!important;
}
.bgc-default-tp1 {
    background-color: rgba(121,169,197,.92)!important;
}
.bgc-default-l4, .bgc-h-default-l4:hover {
    background-color: #f3f8fa!important;
}
.page-header .page-tools {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.btn-light {
    color: #757984;
    background-color: #f5f6f9;
    border-color: #dddfe4;
}
.w-2 {
    width: 1rem;
}

.text-120 {
    font-size: 120%!important;
}
.text-primary-m1 {
    color: #4087d4!important;
}

.text-danger-m1 {
    color: #dd4949!important;
}
.text-blue-m2 {
    color: #68a3d5!important;
}
.text-150 {
    font-size: 150%!important;
}
.text-60 {
    font-size: 60%!important;
}
.text-grey-m1 {
    color: #7b7d81!important;
}
.align-bottom {
    vertical-align: bottom!important;
}


</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.0/html2pdf.bundle.min.js"></script>


<div class="page-content container">
    <div class="page-header text-blue-d2">
        <h1 class="page-title text-secondary-d1">
            Invoice
            <small class="page-info">
                <i class="fa fa-angle-double-right text-80"></i>
                ID: #{{item.voucherCode}}
            </small>
        </h1>

        <div class="page-tools">
            <div class="action-buttons">
                <a class="btn bg-white btn-light mx-1px text-95"  id="printButton" href="#" data-title="Print">
                    <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                    Print
                </a>
                <a class="btn bg-white btn-light mx-1px text-95" id="downloadPdfButton" href="#" data-title="PDF">
                    <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
                    Export
                </a>
            </div>
        </div>
    </div>

    <div class="container px-0">
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center text-150">
                            <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                            <span class="text-default-d3">Aarya Group</span>
                        </div>
                    </div>
                </div>
                <!-- .row -->

                <hr class="row brc-default-l1 mx-n1 mb-4" />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <span class="text-sm text-grey-m2 align-middle">To:</span>
                            <span class="text-600 text-110 text-blue align-middle">{{item.deb_ledger.ledger_name}}</span>
                        </div>
                        <div class="text-grey-m2">
                            <div class="my-1">
                                Street, City
                            </div>
                            <div class="my-1">
                                State, Country
                            </div>
                            <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b class="text-600">111-111-111</b></div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                        <hr class="d-sm-none" />
                        <div class="text-grey-m2">
                            <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                Invoice
                            </div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">ID:</span> #{{item.voucherNo}}</div>

                            <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Issue Date:</span> {{item.date}}</div>

                            <!-- <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Status:</span> <span class="badge badge-warning badge-pill px-25">Unpaid</span></div> -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
<!-- 
                <div class="mt-4">
                    <div class="row text-600 text-white bgc-default-tp1 py-25">
                        <div class="d-none d-sm-block col-1">#</div>
                        <div class="col-9 col-sm-5">Description</div>
                        <div class="col-2">Amount</div>
                    </div>

                    <div class="text-95 text-secondary-d3">
                        {% for it in items %}
                        <div class="row mb-2 mb-sm-0 py-25">
                            <div class="d-none d-sm-block col-1">{{it.s_no}}</div>
                            <div class="col-10 col-sm-5">{{it.decsription}}</div>
                            <div class="d-none d-sm-block col-4">{{it.amount}}</div>
                        </div>
                        {% endfor %}

         

              
                    </div>

                    <div class="row border-b-2 brc-default-l2"></div> -->

                    <!-- or use a table instead -->
                    
            <div class="table-responsive">
                <table class="table table-striped table-borderless border-0 border-b-2 brc-default-l1">
                    <thead class="bg-none bgc-default-tp1">
                        <tr class="text-white">
                            <th class="opacity-2">#</th>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Unit Price</th>
                            <th width="140">Amount</th>
                        </tr>
                    </thead>

                    <tbody class="text-95 text-secondary-d3">
                        {% for it in items %}

                        <tr></tr>
                        
                        <tr>
                            <td>{{it.s_no}}</td>
                            <td>{{it.decsription}}</td>
                            <td>1</td>
                            <td class="text-95">{{it.amount}}</td>
                            <td class="text-secondary-d2">{{it.amount}}</td>
                        </tr> 
                        {% endfor %}

                    </tbody>
                </table>
            </div>
           

                    <div class="row mt-3">
                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                            <h2>Terms and Conditions:</h2>
                            <ol>
                                <li>Booking and Payment:
                                    <ul>
                                        <li>All travel bookings are subject to availability.</li>
                                        <li>Customers must pay a deposit or full payment, as specified, to confirm their reservation.</li>
                                        <li>Prices are subject to change based on factors such as currency exchange rates, fuel costs, and government taxes.</li>
                                    </ul>
                                </li>
                                <li>Cancellation and Refunds:
                                    <ul>
                                        <li>Customers may cancel their booking, but cancellation fees may apply.</li>
                                        <li>Refunds are subject to the cancellation policy, and customers are encouraged to purchase travel insurance to cover unexpected cancellations.</li>
                                    </ul>
                                </li>
                                <li>Travel Documents:
                                    <ul>
                                        <li>It is the responsibility of travelers to ensure they have valid passports, visas, and any required travel documents.</li>
                                        <li>The travel company is not responsible for denied entry due to inadequate travel documentation.</li>
                                    </ul>
                                </li>
                                <li>Changes and Itinerary:
                                    <ul>
                                        <li>The travel company reserves the right to make changes to itineraries, accommodations, and transportation due to unforeseen circumstances.</li>
                                        <li>Customers will be informed of any changes as soon as possible.</li>
                                    </ul>
                                </li>
                            </ol>
                        </div>

                        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    SubTotal
                                </div>
                                <div class="col-5">
                                    <span class="text-120 text-secondary-d1">{{item.total}}</span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    Tax (10%)
                                </div>
                                <div class="col-5">
                                    <span class="text-110 text-secondary-d1">{{item.taxed}}</span>
                                </div>
                            </div>

                            <div class="row my-2 align-items-center bgc-primary-l3 p-2">
                                <div class="col-7 text-right">
                                    Total Amount
                                </div>
                                <div class="col-5">
                                    <span class="text-150 text-success-d3 opacity-2">{{item.final}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('downloadPDFButton').addEventListener('click', function() {
        // Specify the element you want to convert to PDF
        const element = document.querySelector('.page-content'); // Replace with your element

        // Convert the element to a PDF
        html2canvas(element).then(function(canvas) {
            const pdf = new jsPDF('p', 'mm', 'a4');
            pdf.addImage(canvas.toDataURL('image/jpeg', 1.0), 'JPEG', 0, 0, 210, 297); // Customize the dimensions as needed
            pdf.save('your_document.pdf');
        });
    });
})
</script>
<script>
    // Add an event listener to the "Print" button
    document.getElementById('printButton').addEventListener('click', function() {
        printPageAsPDF();
    });

    function printPageAsPDF() {
        // Create a new window for the PDF content
        var printWindow = window.open('', '', 'width=800,height=600');

        // Add the content to the new window
        printWindow.document.write('<html><head><title>Your Page Title</title></head><body>');
        printWindow.document.write(document.querySelector('.page-content').innerHTML);
        printWindow.document.write('</body></html>');

        // Wait for the content to load
        printWindow.document.addEventListener('DOMContentLoaded', function() {
            // Use the browser's built-in print functionality to print or save as PDF
            printWindow.print();
            printWindow.close();
        });
    }
</script>

{% endblock %}